@import url(https://fonts.gogleapis.com/css?family=lato:300,400,700|PT++Mono);

:root {
  --primary-color:gainsboro;
  --secundary-color: yellow;
  --terciary-color: Grey;
  --quarteary-color: black;
}

body{
    position:static;
    background-color:var(--primary-color);
    font-size: 15px;
    font-family: Lato,sans-serif;
}

#container{
  width: 360px;
  height: 500px;
  margin: 60px auto;
  background-color: silver;
  box-shadow: 5px 5px 5px var(--terciary-color);
  border-radius: 20px;
}

.title{
  background:var(--quarteary-color);
  color: white;
  padding: 20px;
  text-transform: uppercase;
  font-size: 18px;
  font-weight: normal;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  text-align: center;
}

.tipsForm{
  padding-left: 20px;
 padding-right: 20px; 
}

.formInput{
  background-color: white;
  width: 40px;
  padding: 5px 5px 8px 8px;
}

.formInput:focus{
  border: 3px solid var(--primary-color);
  outline: none;
}

.formSelect{
  width: 180px;
  padding: 5px;
  font-size: 12px;
}

.formSubmit{
  text-transform: uppercase;
  font-weight: bold;
  display: block;
  margin: 30px auto;
  background: var(--quarteary-color);
  border-radius: 5px;
  width: 200px;
  height: 50px;
  font-size: 17px;
  color: rgb(233, 232, 254);
}

#totalTip{
  font-size: 20px;
  margin-top: 5px;
  text-align: center;
}

.git{
  text-decoration: none;
}

img{
  top: 84%;
  position: absolute;
  left: 92%;
  width: 70px;
  height: 70px;
  border-radius: 50%;
}

img:hover {
  background-color: rgb(120, 120, 120);
  transition: 1.5s;
  transform: rotate(360deg);
  color: white;
}